@tailwind base;
@tailwind components;
@tailwind utilities;

/*======================= Common Style ===========================*/

.mp_btn{
    @apply bg-[#465AF7] w-fit h-fit mx-auto text-white px-8 py-4 rounded-lg  cursor-pointer
}

/*====================== Navbar =============================*/
.nav {
	@apply flex lg:grid lg:grid-cols-5 justify-between items-center py-6 px-4 border-b-2 border-s-black;
}
.jm_nav {
	@apply block lg:flex justify-between lg:col-span-3 items-center absolute lg:static lg:w-fit top-0 left-0 overflow-hidden lg:overflow-auto h-screen lg:h-auto duration-500 bg-[#fff] lg:bg-[transparent] lg:p-0 z-50;
}
.drop_shadow{
	box-shadow: 0 0 10px -1px #ccc;
}
/*==================== Featured section ===============================*/

.ft_hover{
@apply hover:bg-gray-200 transition-all duration-300 
}

.ft_hover .ft_icon{
	@apply transition-all duration-500
}
.ft_hover:hover .ft_icon{
	@apply border-white transition-all duration-500 bg-[#00a4f8] text-white;
}

/*========================== Event Form ==================================*/
.input_field {
	@apply border-gray-800 rounded-md outline-[#00a4f8] p-3 w-full border;
}

.borderBottom {
	border-bottom: 1px solid #fafafa;
	opacity: 0.08;
}

.bg_stander:hover {
	background: linear-gradient(135deg, #743cbd 0%, #ab67c3 100%);
	color: white;
}
.disc_effects{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),inset -5px -5px 10px #fff;
    background: transparent;
}
.disc_effects_up{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
    background: transparent;
}

/* ============================Event Tap============================= */

.et_link{
	@apply flex items-center gap-20 p-5 bg-white hover:border-[#465AF7] shadow-lg justify-between;
}